header {
  font-family: $poppins-font;
  color: $black;
  .content-header{
  width: 100%;
  height: 121px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .container{
    display: none;
  }
  .logo{
    margin: 42px 35px;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 72px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .nav-links{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 26px;
    text-transform: uppercase;
    ul{
      display: flex;
      flex-direction: row;
    }
    li{
      padding: 5px;
      a{
        color: $black;
      } 
    }
  }
  @media screen and (max-width: 1328px) {
    #span-login{
      display: none;
    }
  }

  @media screen and (max-width: 1128px) {
    .nav-links{
      display: none;
    }
    .logo{
      position: absolute;
      left: 40%;
      margin-left: 10px;

    }
    .container{
      position: relative;
      top: 50px;
      display: block;
    }
    @media screen and (max-width: 650px) {
      .options{
        display: none;
      }
    }
  }
  .options{
    ul{
      display: flex;
      flex-direction: row;
    }
    li{
      padding: 12px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      line-height: 22px;
      font-weight: 400;
      a{
        color: $black;
      }
    }
  }
}
}
.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkbox-menu{
  position: absolute;
  opacity: 0;
}

label{
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

label span{
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: $black;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1){
  top: 0;
}

label span:nth-child(2){
  top: 8px;
}

label span:nth-child(3){
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1){
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2){
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3){
  transform: rotate(45deg);
  top:8px;
}