@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'Authentic Signature';
    src: url('../../../../../wx3-teste/src/assets/sass/basics/fonts/Authentic\ Signature.ttf') format('truetype');
  }
$authentic-signature: 'Authentic Signature';