@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'Authentic Signature';
    src: url('../../basics/Fonts/font/Authentic\ Signature.ttf') format('truetype');
  }

$poppins-font: "Poppins";
$authentic-font: "Authentic Signature";

