main{
  margin-top: 200px;
  font-family: "Poppins";
} 
.title-card{
  margin-bottom: 59px;
  text-align: center;
  font-family: "Poppins";
}
.card__footer{
  text-align: center;
  margin-top: 44px;
  margin-bottom: 59px;
  font-family: "Poppins";
}
.indicator{
  display: flex;
  position: relative;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  margin: 0 10%;
  font-size: 50px;
  &__bullet{
    padding: 6px;
    div{
      width: 14px;
      height: 14px;
      border-radius: 7px;
      background-color: #5a5a5a;
    }
  }
  &__bullet--special{
    div{
      width: 14px;
      height: 14px;
      border-radius: 7px;
      background-color: $primary-white;
      border: 1px solid $primary-gray;
    }
  }
  &__previous{
    margin-bottom: 10px;
    padding: 0 15px;
  }
  &__next{
    margin-bottom: 10px;
    padding: 0 15px;
  }
  
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
.card:hover {
  .card__button{
  margin-top: 10px;
  position: absolute;
  visibility: visible;
  font-family: "Poppins";
  text-transform: uppercase;
  margin-bottom: 40px;
  color: $primary-white;
  font-weight: bolder;
  font-size: 20px;
  padding: 4px 45px;
  filter: drop-shadow(0 0 3.5px rgba(175, 161, 161, 0.25));
  background-color: #5a5a5a;
  border: none;
  cursor: pointer;
  outline: inherit;
}
}
.card {
flex-basis: calc(20% - 20px);
margin: 0px 15px;
cursor: pointer;
position: relative;
transition: 0.6s;
&__lancamento{
  position: absolute;
  border-radius: 4px;
  top: 7px;
  left: 7px;
  padding: 0 8px;
  color: $primary-white;
  font-size: 11px;
  color: #ffffff;
  font-weight: 700;
  background-color: #5a5a5a;
}
&__button{
    visibility: hidden;
}
&__price,
&__description,
&__product-name {
display: flex;
justify-content: center;
align-items: center;
}
&__stars{
    margin-left: 80px;
    margin-right: 80px;
}
&__product-name{
color: #5d5d5d;
text-align: center;
font-size: 18px;
line-height: 17px;
font-weight: 500;
margin-bottom: 18px;
}
&__description{
color: $primary-black;
font-size: 15px;
line-height: 17px;
font-weight: bolder;
}
&__price {
h1{
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 5px;
}
color: #ff5d46;
font-size: 15px;
line-height: 17px;
font-weight: bolder;
}
&__image {
width: 100%;
}
}

@media screen and (max-width: 1359px){
    .card {
      margin-bottom: 50px;
  }
}
@media screen and (max-width: 600px){
.card {
    flex-basis: calc(50% - 16px);
    margin-bottom: 95px;
      .stars{
          margin-left: 95px;
    
      }
  }
}