.footer{
    width: 100%;
    margin-top: 120px;
    margin-bottom: 120px;

    .footer-cont-top{
        font-family: $poppins-font;
        justify-content: space-between;
        margin: 0 120px;
        align-items: center;
        display: flex;
        input[type="email"],
        input[type="text"] {
            width: 200px;
            border: none;
            font-family: $poppins-font;
            height: 41px;
            background-color: #ffffff;
            outline: none;
        }
        input[type="submit"] {
            color: white;
            font-family: $poppins-font;
            width: 144px;
            border: none;
            outline: none;
            height: 41px;
            background-color: #000000;
        }
    }
}