*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

  ul{
    list-style: none;
  }
}
header {
  .content-header{
    width: 100vw;
    height: 121px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      width: 120px;
    }
    .nav-links{
      ul{
        display: flex;
        flex-direction: row;
      }
      li{
        padding: 8px;
      }
    }
    .options{
      ul{
        display: flex;
        flex-direction: row;
      }
      li{
        padding: 8px;
      }
    }
  }
}